@import '../../scss/variables.scss';
@import '../../scss/mediaQueries.scss';

.sideNav {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  position: relative;

  .brand {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 6.2rem 0 2.4rem 2.4rem;
    color: $white-color;
    background: radial-gradient(
      128.88% 128.88% at 103.9% -10.39%,
      #e84d70 0%,
      #a337f6 53.09%,
      #28a7ed 100%
    );
    border-radius: 10px;

    @include breakpoint(sm) {
      border-radius: 0px;
      padding-top: 1.6rem;
      padding-bottom: 1.6rem;
    }

    .icon {
      display: none;
    }
  }

  .category {
    display: flex;
    flex-wrap: wrap;
    gap: 1.4rem;
    background: $white-color;
    padding: 2.4rem;
    border-radius: 10px;

    .link {
      background: $primary-bg-color;
      font-weight: 600;
      font-size: 1.3rem;
      padding: 0.6rem 1.9rem;
      border-radius: 10px;
      text-decoration: none;
      color: $primary-blue-color;
      transition: all ease-in-out 400ms;

      &:hover {
        background: $tag-hover-color;
      }

      @include breakpoint(md) {
        padding: 0.4rem 1rem;
      }
    }

    .link.active {
      background: $primary-blue-color;
      color: $white-color;
    }

    @include breakpoint(lg) {
      align-items: flex-start;
      row-gap: 0;
    }
  }

  .roadmap {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    padding: 2.4rem;
    background: $white-color;
    border-radius: 10px;

    .top,
    .items {
      display: flex;
      justify-content: space-between;
    }

    .top {
      h3 {
        color: $secondary-darkblue-color;
      }
      .link {
        color: $primary-blue-color;
        transition: all ease-in-out 400ms;

        &:hover {
          color: $link-hover-color;
        }
      }
    }

    .bottom {
      .items {
        margin-bottom: 1.5rem;
        span {
          font-size: 1.6rem;
          font-weight: 700;
          color: $tertiary-darkblue-color;
        }
      }
      ul {
        padding-left: 1.7rem;
        li {
          list-style-type: none;
          position: relative;
          &::before {
            content: '';
            display: inline-block;
            width: 0.8rem;
            padding-bottom: 0.8rem;
            position: absolute;
            left: -1.7rem;
            top: 50%;
            transform: translateY(-50%);
            border-radius: 50%;
          }
        }
        div:nth-child(1) {
          li::before {
            background: $orange-color;
          }
        }
        div:nth-child(2) {
          li::before {
            background: $purple-color;
          }
        }
        div:nth-child(3) {
          li::before {
            background: $secondary-blue-color;
          }
        }
      }
    }
  }

  .mobileMenu {
    display: none;
  }

  .overlay,
  .mobileMenu {
    height: 100vh;
    position: absolute;
    top: 100%;
    transition: all ease-out 400ms;
    z-index: 11;
  }

  @include breakpoint(lg) {
    flex-direction: row;

    .brand,
    .category,
    .roadmap {
      flex: 1;
      padding: 2rem;
    }
  }

  @include breakpoint(sm) {
    .category,
    .roadmap {
      display: none;
    }

    //mobileMenu
    .brand {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 2.4rem;

      .icon {
        display: block;
      }
    }

    .overlay {
      width: 30vw;
      left: 0;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.8)
      );
      opacity: 0;
      pointer-events: none;
      visibility: hidden;
      transition: opacity 0.6s ease 0.3s;
    }

    .mobileMenu {
      width: 70vw;
      background: $primary-bg-color;
      right: 0;
      display: flex;
      flex-direction: column;
      padding: 2.4rem;
      gap: 2.4rem;
      transform: translateX(100%);

      .category,
      .roadmap {
        flex: initial;
        display: flex;
      }

      .category {
        row-gap: 1.6rem;
        .link {
          padding: 1.2rem 2.4rem;
        }
      }
    }
  }
}

.active .mobileMenu {
  transform: translateX(0);
}

.active .overlay {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
