@import '../../scss/mediaQueries.scss';

.home {
  display: flex;
  gap: 3rem;

  @include breakpoint(lg) {
    flex-direction: column;
  }

  @include breakpoint(sm) {
    gap: 0;
  }

  .mainContent {
    flex: 3.2;
  }
}
