@import '../../scss/variables.scss';
.home {
  display: flex;
  gap: 3rem;
  max-width: 111rem;
  margin: 9.4rem auto 0;

  .sidebar {
    display: flex;
    flex-basis: 25.5rem;
    flex-direction: column;
    gap: 2.4rem;

    .brand {
      display: flex;
      flex-direction: column;
      justify-content: end;
      padding: 2.4rem;
      height: 13.7rem;
      color: $white-color;
      background: radial-gradient(
        128.88% 128.88% at 103.9% -10.39%,
        #e84d70 0%,
        #a337f6 53.09%,
        #28a7ed 100%
      );
    }

    .category {
      display: flex;
      flex-wrap: wrap;
      padding: 2.4rem;
      height: 16.6rem;
    }
  }
}
