@import '../../scss/variables.scss';
@import '../../scss/mediaQueries.scss';

.commentCard {
  padding: 2.2rem;

  @include breakpoint(sm) {
    row-gap: 1rem;
    padding: 2.2rem 0;
  }

  .card-x {
    display: grid;
    grid-template-columns: 0.5fr 4fr 1fr;
    row-gap: 0.5rem;
    column-gap: 2.7rem;
    padding-bottom: 2.4rem;

    @include breakpoint(sm) {
      row-gap: 1rem;
    }

    .img {
      img {
        border-radius: 50%;
        min-width: 4rem;
      }
    }

    .name {
      h4 {
        color: $secondary-darkblue-color;
      }
      span {
        font-size: 1.4rem;
      }
    }

    .reply {
      justify-self: end;
      align-self: start;
      color: $primary-blue-color;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }

    .comment {
      grid-column: 2/-1;

      @include breakpoint(md) {
        grid-column: 1/-1;
      }
    }
  }

  .response {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 6.7rem;
    margin-top: 1.4rem;

    @include breakpoint(md) {
      flex-direction: column;
      margin-left: 0;
      width: 100%;

      .resBtn {
        width: 100%;
      }
    }

    .resInput {
      width: 70%;

      @include breakpoint(md) {
        width: 100%;
      }
    }
  }

  .replycard {
    padding-left: 5rem;
    position: relative;

    @include breakpoint(sm) {
      padding-left: 3.2rem;
    }

    &::before {
      content: '';
      display: inline-block;
      width: 1px;
      height: 100%;
      background: rgba(140, 146, 179, 0.1);
      position: absolute;
      top: -11rem;
      left: 2.5rem;

      @include breakpoint(md) {
        top: 0rem;
        left: 2.5rem;
        height: 65%;
      }

      @include breakpoint(sm) {
        left: 0rem;
      }
    }
  }
}
