$white-color: #fff;
$primary-darkblue-color: #373f68;
$secondary-darkblue-color: #3a4374;
$tertiary-darkblue-color: #647196;
$primary-blue-color: #4661e6;
$secondary-blue-color: #62bcfa;
$primary-bg-color: #f2f4ff;
$secondary-bg-color: #f7f8fd;
$orange-color: #f49f85;
$purple-color: #ad1fea;
$purple-hover-color: #c75af6;
$tag-hover-color: #cfd7ff;
$link-hover-color: #8397f8;
